---
import Image from "astro/components/Image.astro";
import ImgAbout from "../../public/img/about.svg";
---

<section id="about" class="wow fadeInUp">
  <div class="container">
  <div class="section-header">
      <h2>О проекте</h2>
      <p>
        Наш проект предоставляет услуги по посадке павловний, а также оформлению всех документов, необходимых для честного ведения бизнеса.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-6 about-img">
        <Image src={ImgAbout} alt="" />
      </div>

      <div class="col-lg-6 content">
        <h2>
          Посадка павловнии и разведение карбоновых ферм представляют собой перспективные бизнес-проекты, связанные с устойчивым сельским хозяйством.
        </h2>
        <h3>
          Вот некоторые преимущества и экономические выгоды данных бизнес-проектов:
        </h3>
        <ul>
          <li>
            <i class="icon ion-ios-checkmark-outline"></i>
            Повышение плодородия почвы
          </li>
          <li>
            <i class="icon ion-ios-checkmark-outline"></i>
            Снижение затрат на удобрения и пестициды
          </li>
          <li>
            <i class="icon ion-ios-checkmark-outline"></i>
            Финансовые стимулы и поддержка
          </li>
          <li>
            <i class="icon ion-ios-checkmark-outline"></i>
            Продажа углеродных кредитов
          </li>
        </ul>
        <p>
          Древесина, получаемая из павловнии, является ценным материалом для изготовления различных продуктов. Мы стремимся дать вам полное представление о проекте и его потенциале.
        </p>
      </div>
    </div>

  </div>
</section>