---
import Image from "astro/components/Image.astro"
import Women from "../../public/img/intro-carousel/women.png"
---

<section id="hero" class="clearfix">
  <div class="container">

        <div class="hero-banner">
          <Image src={Women} alt="" class="img-fluid" />
        </div>

        <div class="hero-content">
          <h2>Business Growth<br><span> Consulting</span></h2>
          <div>
            <a href="index.html#" class="btn-banner">Our Service</a> 
          </div>
        </div>

  </div> 
</section>